@import 'scss/variables';
@import 'scss/mixins';



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}



// temporary classes

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

// header
header {
  nav {
    @include flex;
    @include justify-between;
    @include align-center;
    @include p($offset-10);
    .logo {
      a {

        img {
          width: $offset-10 * 3;
        }
      }
    }
    ul {
      @include flex;
      @include gap($offset-10);
      li {

        a {
          font-size: $offset-10 * 2;
        }
      }
    }
  }
}


// food
main {
  .recipe-page-title {
    @include f-z(2rem);
    @include capitalize;
    @include text-center;
    @include m-b(1rem)
  }
  .input-wrapper {
    @include flex;
    @include justify-center;
    @include align-center;
    input {
      @include p(5px);
    }
    button{
      @include p(5px);
    }
  }
  .recipe-container {
    @include flex;
    @include justify-evenly;
    @include align-center;
    @include wrap;
    .recipe-card {
      @include p(20px);
  
      img {
        width: 100%;
        max-width: 600px;
        height: auto;
        @include inline-block;
        @include m-b(10px)
      }
      h4 {
        @include text-center;
        @include m-b(10px);
        @include f-w-b;
        @include f-z(1.5rem);
      }
      .card-footer {
        @include flex;
        @include justify-between;
        @include align-center;
        .ready-in {
  
        }
        .source {
          
        }
      }
    }
  }
}