@import 'scss/variables';
@import 'scss/mixins';



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}



// temporary classes

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.error-wrapper {
  h5 {
    color: $warning;
    @include f-z(18px);
    @include f-w-b;
    @include text-center;
    @include uppercase;
  }
}

// header
header {
  @include p(1rem);
  border-bottom: 1px solid black;
  .container {
    nav {
      @include flex;
      @include justify-between;
      @include align-center;
      @include p($offset-10);
      .logo {
        a {
  
          img {
            width: $offset-10 * 3;
          }
        }
      }
      ul {
        @include flex;
        @include gap($offset-10);
        li {
  
          a {
            @include f-z(20px);
            @include uppercase;
            color: $primary;
            &.active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// news page
.search-container {
  @include flex;
  @include justify-center;
  @include align-center;
  @include p-y-x(1rem, 0);

  input {
    @include p-y-x(.4rem, .5rem);
  }
}
.articles-container {
  @include m-t(3rem);
  @include flex;
  @include justify-center;
  @include align-center;
  @include wrap;
  @include gap(2rem);
  .article-card {
    width: 600px;
    img {
      width: 100%;
      @include m-b(1rem)
    }
    h3 {
      @include m-b(1rem);
      @include f-z(1.3rem);
      @include f-w-b;
    }
    p {

    }
  }
}


// books page
.category-wrapper {
  @include m-b(2rem);
  .category-name {
    @include f-w-b;
    cursor: pointer;
  }
}
.books-container {
  @include m-t(3rem);
  @include flex;
  @include justify-center;
  @include align-center;
  @include wrap;
  @include gap(2rem);
  .book-card {
    max-width: 400px;
    a {
      img {
        @include inline-block;
        width: 100%;
      }
    }
    h3 {
      @include f-z(1.2rem);
      @include f-w-b;
      @include text-center;
    }
    .book-price {
      @include f-z(2rem);
      @include text-right;
    }
    .stock-count {
      @include f-z(1.1rem);
      @include text-right;
      .count {
        @include f-w-b
      }
    }
    .translator {

      .person {
        @include text-d-u;
      }
    }
    .details-page {
      @include block;
      @include text-right;
      &:hover {
        text-decoration: underline
      }
    }
  }
}



// food page
main {
  .recipe-page-title {
    @include f-z(2rem);
    @include capitalize;
    @include text-center;
    @include m-b(1rem)
  }
  .input-wrapper {
    @include flex;
    @include justify-center;
    @include align-center;
    @include flex-column;
    position: relative;
    input {
      @include p(5px);
    }
    button{
      @include p(5px);
      @include m-y(1rem);
    }
    .suggestions {
      width: 50%;
      position: absolute;
      top: 3rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #442b2b;
      @include p-y-x(.5rem, 1rem);
      .suggestion-item {
        cursor: pointer;
        color: white;
        @include m-y(.5rem);
      }
    }
  }
  .recipe-container {
    @include flex;
    @include justify-evenly;
    @include align-center;
    @include wrap;
    .recipe-card {
      @include p(20px);
  
      img {
        width: 100%;
        max-width: 600px;
        height: auto;
        @include inline-block;
        @include m-b(10px)
      }
      h4 {
        @include text-center;
        @include m-b(10px);
        @include f-w-b;
        @include f-z(1.5rem);
      }
      .card-footer {
        @include flex;
        @include justify-between;
        @include align-center;
        .ready-in {
  
        }
        .source {
          
        }
      }
    }
    .no-recipe-message {
      color: $warning;
      @include f-z(1.5rem)
    }
  }
}